Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

build front:
  stage: build
  script:
  - npm install --registry ${NPM_REPO} --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
  - chmod -R 755 node_modules
  - npm run compile
  - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
  - npm publish --registry ${NPM_PUBLISH_REGISTRY}
  ...

build backend:
  stage: build
  script:
  - update_pom_version
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
  - mvn package spring-boot:repackage
  - mv target/app.jar $PWD/docker
  - saveImageMetadata
  ...

release backend:
  stage: release
  script:
  - chart_build

[IMP] 修改测试服务相关问题
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.less
  react/routes/priority/priorityList/PriorityList.js
  react/routes/priority/priorityList/PriorityList.less
Due: build front

[IMP]修复测试步骤先点创建，再复制一个，拿的rank值不是最新
  react/components/TestStepTable/TestStepTable.js
Due: build front

[IMP] 修改pom文件
  pom.xml
Due: build backend, release backend

[FIX]修改pom版本及ci
  .gitlab-ci.yml
  pom.xml
Due: none

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend

[FIX]修改dbtool版本
  chart/test-manager-service/values.yaml
Due: build backend, release backend

[IMP]样式修改
  react/routes/Report/ReportStory/ReportStory.js
  react/routes/Report/ReportTest/ReportTest.js
Due: build front

[FIX]修复测试参数解码
  react/common/utils.js
Due: build front

更改前端版本
  package.json
Due: build front

[ADD]添加查询未分配issue权限
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[FIX]修改EncryptUtil解析searchVO解决查询用例关联问题筛选失效
  src/main/java/io/choerodon/test/manager/infra/util/EncryptUtil.java
Due: build backend, release backend

[IMP]测试状态创建样式修改
  react/locale/zh_CN.js
  react/routes/CustomStatus/components/CreateStatus/CreateStatus.js
  react/routes/CustomStatus/components/CreateStatus/CreateStatus.less
Due: build front

[FIX]测试状态添加tooltip
  react/components/StatusTag/StatusTag.js
  react/components/StatusTags/StatusTags.js
Due: build front

[DEL] 删除角色label
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[IMP]添加传还能测试用例可配置
  react/components/create-test-case/CreateIssue.js
  react/components/test-case-link-list/TestCaseModal.js
Due: build front

[IMP]隐藏测试报表
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-fd-report.xlsx
Due: build backend, release backend

[IMP]测试隐藏的报表去除关联
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-fd-report.xlsx
Due: build backend, release backend

[FIX]修改pom版本
  pom.xml
Due: build backend, release backend

[FIX]修复测试报告宽大于高时报告不全
  package.json
  react/routes/TestPlan/plan-report/report-page/index.tsx
Due: build front

[ADD] 导入用例增加问题关联字段
  src/main/java/io/choerodon/test/manager/api/vo/agile/IssueCreateDTO.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/enums/ExcelTitleName.java
Due: build backend, release backend

[FIX]更改导入按钮颜色
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
Due: build front

[FIX]修复excel
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[IMP]优化用例库刷新&导入按钮位置调整
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
Due: build front

[IMP]测试报告分块标题修改
  react/routes/TestPlan/plan-report/report-page/components/detail-card/index.tsx
  react/routes/TestPlan/plan-report/report-page/components/pie-chart/index.tsx
Due: build front

[FIX]修改pom服务版本
  pom.xml
Due: build backend, release backend

Update package.json
  package.json
Due: build front

[ADD] 工作台增加我执行的用例
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestWorkBenchController.java
  src/main/java/io/choerodon/test/manager/api/vo/TestFolderCycleCaseVO.java
  src/main/java/io/choerodon/test/manager/api/vo/agile/ProjectCategoryDTO.java
  src/main/java/io/choerodon/test/manager/api/vo/agile/ProjectDTO.java
  src/main/java/io/choerodon/test/manager/app/service/TestCycleCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/feign/BaseFeignClient.java
  src/main/java/io/choerodon/test/manager/infra/feign/callback/BaseFeignClientFallback.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCycleCaseMapper.java
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[ADD] 工作台仅查看进行中计划的我执行的用例
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[FIX] 修复测试计划创建缺陷选择父级任务未生效
  src/main/java/io/choerodon/test/manager/api/vo/agile/IssueCreateDTO.java
Due: build backend, release backend

[IMP] 更改测试服务为PermissionRoute
  package.json
  react/routes/AutoTest/AutoTestIndex.js
  react/routes/AutoTest/AutoTestList/AutoTestList.js
  react/routes/CustomStatus/CustomStatusHome/CustomStatusHome.js
  react/routes/CustomStatus/CustomStatusIndex.js
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/index.js
  react/routes/Report/ReportIndex.js
  react/routes/Report/ReportStory/ReportStory.js
  react/routes/Report/ReportTest/ReportTest.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.js
  react/routes/TestPlan/index.js
  react/routes/priority/PriorityIndex.js
  react/routes/priority/priorityList/PriorityList.js
Due: build front

[IMP]更改创建用例引用agile的相关组件方式
  react/components/create-test-case/CreateIssue.js
Due: build front

[ADD]添加权限
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[ADD] 支持批量删除计划中的测试用例
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCycleCaseController.java
  src/main/java/io/choerodon/test/manager/app/service/TestCycleCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestAttachmentMapper.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCycleCaseAttachmentRelMapper.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCycleCaseMapper.java
  src/main/resources/mapper/TestAttachmentMapper.xml
  src/main/resources/mapper/TestCycleCaseAttachmentRelMapper.xml
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-mysql-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
