Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

.gitlab-ci.yml:

image: registry.cn-shanghai.aliyuncs.com/c7n/cibase:0.11.4

stages:
  - build
  - release

build front:
  stage: build
  script:
    - npm config set "//${NPM_REPO}:_authToken" "${NPM_TOKEN}"
    - npm config set "//${NPM_REGISTRY}:_authToken" "${NPM_TOKEN}"
    - npm config set always-auth true
    - yarn install --registry "https://${NPM_REPO}" --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
    - chmod -R 755 node_modules
    - npm run compile
    - npm publish --registry "https://${NPM_REGISTRY}"
    - curl -sX POST -F token=${FRONT_REPOSITORY_TOKEN} -F ref=${REF_NAME} https://code.choerodon.com.cn/api/v4/projects/7909/trigger/pipeline
  except:
    changes:
      - pom.xml
      - src/**/*
      - docker/**/*
      - chart/**/*
      - init-mysql-database.sh
      - .circleci/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"
  only:
    refs:
      - master
      - /^.*bugfix.*$/
      - /^.*hotfix.*$/
      - /^.*release.*$/

tag front:
  stage: build
  script:
    - npm config set "//${NPM_REPO}:_authToken" "${NPM_TOKEN}"
    - npm config set "//${NPM_REGISTRY}:_authToken" "${NPM_TOKEN}"
    - npm config set always-auth true
    - yarn install --registry "https://${NPM_REPO}" --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
    - chmod -R 755 node_modules
    - npm run compile
    - npm publish --registry "https://${NPM_REGISTRY}"
  only:
    refs:
      - tags

build backend:
  stage: build
  script:
    - update_pom_version
    - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
    - mvn package spring-boot:repackage
    - mv target/app.jar $PWD/docker
    - saveImageMetadata
    - kaniko -c $PWD/docker -f $PWD/docker/Dockerfile -d ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}
  except:
    changes:
      - .editorconfig
      - .eslintrc.json
      - .stylelintrc.json
      - gulpfile.js
      - package.json
      - react/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"
  only:
    refs:
      - master
      - /^.*bugfix.*$/
      - /^.*hotfix.*$/
      - /^.*release.*$/

tag backend:
  stage: build
  script:
    - update_pom_version
    - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
    - mvn package spring-boot:repackage
    - mv target/app.jar $PWD/docker
    - saveImageMetadata
    - docker build --platform linux/arm64 -t ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}-arm -f $PWD/docker/Dockerfile $PWD/docker
    - docker push ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}-arm
    - kaniko -c $PWD/docker -f $PWD/docker/Dockerfile -d ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}
  only:
    refs:
      - tags


release backend:
  stage: release
  script:
    - chart_build
  except:
    changes:
      - .editorconfig
      - .eslintrc.json
      - .stylelintrc.json
      - gulpfile.js
      - package.json
      - react/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"


tag release:
  stage: release
  script:
    - chart_build
  only:
    - tags

.auto_devops: &auto_devops |
  http_status_code=`curl -o .auto_devops.sh -s -m 10 --connect-timeout 10 -w %{http_code} "${CHOERODON_URL}/devops/ci?token=${Token}&type=microservice"`
  if [ "$http_status_code" != "200" ]; then
    cat .auto_devops.sh
    exit 1
  fi
  source .auto_devops.sh

before_script:
  - *auto_devops

[FIX]全局Loading样式修正
  react/routes/IssueManage/IssueManage/index.js
  react/routes/TestPlan/TestPlanIndex.js
Due: build front

[FIX]修改pom版本
  pom.xml
Due: build backend, release backend

[IMP]用例库空页面Loading交于全局Loading管理
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/IssueTable/IssueTable.js
Due: build front

[FIX]修复创建测试用例自定义编号正则错误
  react/components/create-test-case/store/CreateIssueDataSet.js
Due: build front

[FIX]修复创建测试用例自定义编号正则错误
  package.json
  react/components/create-test-case/store/CreateIssueDataSet.js
Due: build front

[IMP] 删除无用的图表权限集
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[IMP] 删除excel中图表相关权限集
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[ADD] 用例库支持批量删除用例
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCaseController.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseAsyncService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseAsyncServiceImpl.java
Due: build backend, release backend

[IMP] 修改接口名称
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCaseController.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseAsyncService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseAsyncServiceImpl.java
Due: build backend, release backend

[IMP] 修改计划批量移除用例中进度条样式
  react/common/types.ts
  react/constants/STATUS.ts
  react/routes/TestPlan/components/BatchAction/BatchDeleteConfirm/index.tsx
Due: build front

[IMP] 用例库添加批量移除用例功能
  react/.env
  react/api/IssueManageApi.js
  react/components/CustomCheckBox/CustomCheckBox.js
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/IssueTable/IssueTable.js
  react/routes/IssueManage/components/batch-delete-confirm/index.less
  react/routes/IssueManage/components/batch-delete-confirm/index.tsx
  react/routes/IssueManage/stores/IssueStore.js
Due: build front

[IMP] 添加用例库批量删除用例接口权限
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[IMP] 切换树节点时清除选中的用例数据
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/IssueTree/IssueTree.js
Due: build front

[IMP] 计划中部分操作时关闭批量操作小弹窗
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/TestPlanHeader/TestPlanHeader.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
  react/routes/TestPlan/components/TestPlanTree/TestPlanTree.js
Due: build front

[IMP] 项目信息增加图标和创建时间
  src/main/java/io/choerodon/test/manager/api/vo/agile/ProjectDTO.java
Due: build backend, release backend

[IMP] 查询测试用例能关联的问题时应过滤掉史诗
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
Due: build backend, release backend

[IMP]调整计划数据的加载及Loading
  react/components/DragTable/DragTable.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/TestPlanIndex.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteHistoryTable/ExecuteHistoryTable.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
  react/routes/TestPlan/components/TestPlanTree/TestPlanTree.js
  react/routes/TestPlan/stores/TestPlanStore.js
Due: build front

[IMP] 优化测试相关样式
  react/routes/IssueManage/components/IssueTable/TableDraggleItem.js
  react/routes/TestPlan/components/ImportIssue/SelectIssue.js
  react/routes/TestPlan/components/ImportIssue/SelectIssue.less
  react/routes/TestPlan/components/TestPlanModal/SelectIssue.js
  react/routes/TestPlan/components/TestPlanModal/SelectIssue.less
Due: build front

[IMP] 修改测试步骤操作按钮显示不全的问题
  react/components/TestStepTable/TestStepTable.js
  react/components/TestStepTable/TestStepTable.less
Due: build front

[IMP] 修复导入用例符号问题
  react/routes/TestPlan/components/ImportIssue/SelectIssue.js
Due: build front

[IMP]创建用例样式调整
  react/components/create-test-case/CreateIssue.js
  react/components/create-test-case/CreateIssue.less
Due: build front

[IMP] 修改自动化-创建测试弹窗底部按钮顺序
  react/routes/AutoTest/CreateAutoTest/CreateAutoTest.js
Due: build front

[IMP] 修复测试用例测试步骤按钮显示不全的问题
  react/components/TestStepTable/TestStepTable.less
Due: build front

[IMP] 将parent的依赖升级到1.1.0-SNAPSHOT
  pom.xml
Due: build backend, release backend

[IMP] 修改测试执行测试步骤状态背景色问题
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.less
Due: build front

[FIX]测试用例复制保持原用例优先级
  src/main/resources/mapper/TestCaseMapper.xml
Due: build backend, release backend

[IMP] 修复组织层测试优先级页面白页的问题
  react/routes/priority/PriorityIndex.js
  react/routes/priority/priorityList/PriorityList.js
Due: build front

[FIX]修复组件升级后tab等样式错误&更改用例详情滚动
  react/components/Tree/TreeNode.js
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/EditIssue/EditIssue.js
  react/routes/IssueManage/components/EditIssue/EditIssue.less
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.less
Due: build front

[FIX]修复计划表格筛选后筛选项丢失
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/TestPlanStatusCard/TestPlanStatusCard.js
Due: build front

[FIX]修复测试计划表格tab样式
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.less
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[IMP]计划执行人宽度调整
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[FIX]修复计划表格字段筛选下拉框样式及显示
  react/components/DragTable/DragTable.less
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[FIX]修复执行详情初次进入前置条件显示undefined
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/auto-height-precondition/index.js
Due: build front

[IMP] 修复测试服务下拉框问题
  react/injects/issue-linked-test-case/index.js
  react/routes/AutoTest/AutoTestList/AutoTestList.js
  react/routes/AutoTest/CreateAutoTest/components/ConfirmInfo/ConfirmInfo.js
  react/routes/AutoTest/TestReport/components/TestNGReport/TestNGReport.js
  react/routes/AutoTest/TestReport/components/TestNGReport/TestTable.js
  react/routes/IssueManage/components/EditIssue/Component/EditTestStepTable.js
  react/routes/IssueManage/components/EditIssue/Detail.js
  react/routes/IssueManage/components/ExportSide/ExportSide.js
  react/routes/IssueManage/components/IssueTable/tags.js
  react/routes/IssueManage/components/IssueTree/TreeNode.js
  react/routes/Report/ReportProgress/ReportProgress.js
  react/routes/TestPlan/components/CreateAutoTest/components/ConfirmInfo/ConfirmInfo.js
  react/routes/TestPlan/components/EventCalendar/EventItem.js
  react/routes/TestPlan/components/TestPlanTree/TreeNode.js
Due: build front

[IMP] 修改parent依赖版本为1.1.0.RELEASE
  pom.xml
Due: build backend, release backend

[IMP] 更改批量指派和筛选执行人SelectUser
  react/routes/TestPlan/components/BatchAction/BatchModal/index.js
  react/routes/TestPlan/components/BatchAction/BatchModal/index.less
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[FIX]修改pom版本及ci
  .gitlab-ci.yml
  pom.xml
  src/main/resources/application.yml
Due: none

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend
