Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

build front:
  stage: build
  script:
  - npm install --registry ${NPM_REPO} --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
  - chmod -R 755 node_modules
  - npm run compile
  - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
  - npm publish --registry ${NPM_PUBLISH_REGISTRY}
  ...

build backend:
  stage: build
  script:
  - update_pom_version
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
  - mvn package spring-boot:repackage
  - mv target/app.jar $PWD/docker
  - saveImageMetadata
  ...

release backend:
  stage: release
  script:
  - chart_build

[ADD] 批量删除改为异步
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCycleCaseController.java
  src/main/java/io/choerodon/test/manager/api/vo/WebSocketMeaasgeVO.java
  src/main/java/io/choerodon/test/manager/app/service/TestCycleCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseStepServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestAttachmentMapper.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCycleCaseAttachmentRelMapper.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCycleCaseMapper.java
  src/main/resources/mapper/TestAttachmentMapper.xml
  src/main/resources/mapper/TestCycleCaseAttachmentRelMapper.xml
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[ADD] 接口名称添加async
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCycleCaseController.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
Due: build backend, release backend

[IMP]计划调整结构之后不关闭
  package.json
  react/components/Tree/index.js
  react/routes/TestPlan/components/DragPlanFolder/index.js
Due: build front

[IMP]计划删除用例修改为移除
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[IMP] 测试添加自定义编号相关
  react/components/TextEditTogglePro/index.js
  react/components/index.js
  react/routes/IssueManage/components/EditIssue/Header.js
  react/routes/IssueManage/components/EditIssue/Header.less
  react/routes/IssueManage/components/IssueTable/IssueTable.js
  react/routes/TestPlan/components/TestPlanModal/IssueTable.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[IMP] 修改choerodon parent版本
  pom.xml
Due: build backend, release backend

[IMP] 测试用例导入新增编号导入及按照自定义编号排序
  src/main/java/io/choerodon/test/manager/api/vo/ExcelCaseVO.java
  src/main/java/io/choerodon/test/manager/api/vo/TestCaseInfoVO.java
  src/main/java/io/choerodon/test/manager/api/vo/TestCaseRepVO.java
  src/main/java/io/choerodon/test/manager/api/vo/TestCaseVO.java
  src/main/java/io/choerodon/test/manager/api/vo/TestCycleCaseVO.java
  src/main/java/io/choerodon/test/manager/api/vo/TestFolderCycleCaseVO.java
  src/main/java/io/choerodon/test/manager/api/vo/agile/IssueCreateDTO.java
  src/main/java/io/choerodon/test/manager/app/assembler/TestCaseAssembler.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseExcelExportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/dto/TestCaseDTO.java
  src/main/java/io/choerodon/test/manager/infra/dto/TestCycleCaseDTO.java
  src/main/java/io/choerodon/test/manager/infra/enums/ExcelTitleName.java
  src/main/resources/mapper/TestCaseMapper.xml
  src/main/resources/mapper/TestCycleCaseMapper.xml
  src/main/resources/script/db/groovy/test_manager_service/test_case.groovy
  src/main/resources/script/db/groovy/test_manager_service/test_cycle_case.groovy
Due: build backend, release backend

[IMP] 对接自定义编号相关接口 & 测试执行关联的测试用例详情添加自定义编号
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteDetailSide/ExecuteDetailSide.js
Due: build front

[IMP] 修改导出用例excel列的样式以及查询用例列表支持按customNum筛选
  src/main/java/io/choerodon/test/manager/api/vo/CaseSearchVO.java
  src/main/java/io/choerodon/test/manager/api/vo/TestCycleCaseInfoVO.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseExcelExportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/resources/mapper/TestCaseMapper.xml
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[IMP] 修改测试用例第一列的样式等
  react/index.less
  react/routes/IssueManage/components/IssueTable/tags.js
Due: build front

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend

[FIX] 修复websocket发送失效
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestIssueFolderServiceImpl.java
Due: build backend, release backend

[FIX]修改菜单路径
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[IMP] 用例变更提醒弹窗添加自定义编号对吧
  react/routes/IssueManage/components/EditIssue/Header.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/stores/StepTableDataSet.js
  react/routes/TestPlan/components/UpdateRemindModalChildren/component/UpdateContent/UpdateContent.js
Due: build front

[FIX] 修复按customNum筛选不生效以及创建计划报错
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/resources/mapper/TestCaseMapper.xml
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[FIX]有筛选不让点全选
  package.json
  react/routes/TestPlan/components/TestPlanModal/IssueTable.js
  react/routes/TestPlan/components/TestPlanModal/IssueTable.less
Due: build front

[FIX]修改计划全选逻辑
  react/routes/TestPlan/components/TestPlanModal/IssueTable.js
  react/routes/TestPlan/components/TestPlanModal/IssueTable.less
  react/routes/TestPlan/components/TestPlanModal/SelectIssue.js
  react/routes/TestPlan/components/TestPlanModal/SelectIssueStore.js
  react/routes/TestPlan/components/TestPlanModal/utils.js
Due: build front

[FIX]修改创建测试执行样式
  react/routes/TestPlan/components/TestPlanModal/IssueTable.js
Due: build front

[FIX] 批量删除用例websocket增加projectId标识
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
Due: build backend, release backend

[FIX]修复测试计划弹框
  react/routes/TestPlan/components/TestPlanModal/SelectIssueStore.js
  react/routes/TestPlan/components/TestPlanModal/dataSet.js
  react/routes/TestPlan/components/TestPlanModal/index.js
Due: build front

[IMP] 修改测试执行批量删除和批量指派相关逻辑
  react/api/IssueManageApi.js
  react/api/TestPlanApi.js
  react/components/CustomCheckBox/CustomCheckBox.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/BatchAction/BatchDeleteConfirm/index.less
  react/routes/TestPlan/components/BatchAction/BatchDeleteConfirm/index.tsx
  react/routes/TestPlan/components/BatchAction/BatchModal/index.js
  react/routes/TestPlan/components/BatchAction/BatchModal/index.less
  react/routes/TestPlan/components/BatchAction/index.tsx
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
  react/routes/TestPlan/stores/TestPlanStore.js
Due: build front

[IMP] 添加批量指派接口code到权限集
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[FIX]修复树不能取消勾选
  react/routes/TestPlan/components/TestPlanModal/SelectIssueStore.js
Due: build front

[FIX] 修复导入用例报错
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
Due: build backend, release backend

[FIX]修复用例选择
  react/routes/TestPlan/components/ImportIssue/IssueTable.js
  react/routes/TestPlan/components/TestPlanModal/IssueTable.js
  react/routes/TestPlan/components/TestPlanModal/SelectIssueStore.js
Due: build front

[IMP]计划执行详情缺陷可点击查看
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.less
Due: build front

[FIX]更改样式
  react/routes/TestPlan/components/ImportIssue/IssueTable.js
  react/routes/TestPlan/components/TestPlanModal/IssueTable.js
Due: build front

[IMP] 修复测试服务批量删除和指派相关样式
  react/routes/TestPlan/components/BatchAction/BatchDeleteConfirm/index.tsx
  react/routes/TestPlan/components/BatchAction/BatchModal/index.js
  react/routes/TestPlan/components/BatchAction/BatchModal/index.less
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[ADD] websocket键值增加projectId
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestIssueFolderServiceImpl.java
Due: build backend, release backend

[IMP]webscoket的key更改&自定义编号校验更改
  react/routes/IssueManage/components/EditIssue/Header.js
  react/routes/IssueManage/components/ExportSide/ExportSide.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
  react/routes/IssueManage/components/IssueTree/IssueTree.js
Due: build front

[IMP] 修改测试服务批量指派的样式 & 修改测试计划执行表格的样式
  react/components/User/User.js
  react/routes/TestPlan/components/BatchAction/BatchModal/index.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.less
Due: build front

[FIX] 修改测试用例自定义编号的排序和创建规则
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/resources/mapper/TestCaseMapper.xml
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[ADD] 添加校验自定义编号是否重复的接口
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCaseController.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
Due: build backend, release backend

[IMP]自定义编码增加重名校验
  react/api/IssueManageApi.js
  react/routes/IssueManage/components/EditIssue/Header.js
Due: build front

[FIX] 去除用例自定义编号唯一性校验
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCaseController.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
Due: build backend, release backend

[FIX] 删除用例自定义编号唯一性校验代码
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCaseController.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
Due: build backend, release backend

[FIX] 删除用例自定义编号唯一性校验代码
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
Due: build backend, release backend

[DEL]自定义编码去除重名校验
  react/api/IssueManageApi.js
  react/routes/IssueManage/components/EditIssue/Header.js
Due: build front

[FIX]修改ci
  .gitlab-ci.yml
Due: none

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-mysql-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
