Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

build front:
  stage: build
  script:
  - npm config set "//${NPM_REPO}:_authToken" "${NPM_TOKEN}"
  - npm config set "//${NPM_REGISTRY}:_authToken" "${NPM_TOKEN}"
  - npm config set always-auth true
  - yarn install --registry "https://${NPM_REPO}" --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
  ...

build backend:
  stage: build
  script:
  - update_pom_version
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
  - mvn package spring-boot:repackage
  - mv target/app.jar $PWD/docker
  - saveImageMetadata
  ...

release backend:
  stage: release
  script:
  - chart_build

[IMP]执行详情样式概要样式调整
  package.json
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.less
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/QuickOperate/QuickOperate.js
Due: build front

[ADD]添加changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: none

[FIX]修复计划tab样式&删除计划执行测试数据
  package.json
  react/.env
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/stores/StepTableDataSet.js
Due: build front

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend

[FIX]修改pom版本
  pom.xml
Due: build backend, release backend

[FIX]修改pom版本及ci
  .gitlab-ci.yml
  pom.xml
  src/main/resources/application.yml
Due: none

Update package.json
  package.json
Due: build front

[IMP] 修改测试服务问题为工作项
  react/api/ExecuteDetailApi.js
  react/components/LinkList/LinkList.js
  react/components/create-bug/index.tsx
  react/components/create-test-case/CreateIssue.js
  react/components/create-test-case/LinkIssue.tsx
  react/components/create-test-case/store/CreateIssueDataSet.js
  react/injects/issue-linked-test-case/TestCaseModal.js
  react/injects/issue-linked-test-case/components/case/index.js
  react/locale/en_US.js
  react/locale/zh_CN.js
  react/routes/IssueManage/components/CreateLinkTask/index.tsx
  react/routes/IssueManage/components/EditIssue/Component/DataLogFieldsMap.tsx
  react/routes/IssueManage/components/EditIssue/Detail.js
  react/routes/IssueManage/components/EditIssue/link-issues/LinkIssues.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteDetailSide/ExecuteDetailSide.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteDetailSide/link-issues/LinkIssues.js
  react/routes/TestPlan/components/TestPlanModal/index.js
  react/routes/TestPlan/plan-report/report-page/components/detail-card/index.tsx
  react/routes/TestPlan/plan-report/report-page/components/export/failed-table/renderToString.tsx
  react/routes/TestPlan/plan-report/report-page/components/table-card/BugTable.tsx
  react/routes/TestPlan/plan-report/report-page/components/table-card/FailedTable.tsx
  react/routes/TestPlan/plan-report/report-page/components/table-card/preview-table/PreviewFailedTable.tsx
Due: build front

[IMP] 修改用例详情、执行详情顶部距离判断逻辑
  react/routes/IssueManage/components/EditIssue/EditIssue.js
  react/routes/IssueManage/components/EditIssue/stores/index.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteDetailSide/ExecuteDetailSide.js
Due: build front

[ADD]创建计划导入用例增加优先级筛选
  react/.env
  react/routes/TestPlan/components/TestPlanModal/IssueTable.js
Due: build front

[IMP]创建计划导入用例筛选顺序更改
  react/routes/TestPlan/components/TestPlanModal/IssueTable.js
Due: build front

[imp] 调整查询功能测试目录相关sql
  src/main/resources/mapper/TestIssueFolderMapper.xml
Due: build backend, release backend

[ADD]计划编辑导入用例增加优先级列
  react/routes/TestPlan/components/ImportIssue/IssueTable.js
Due: build front

[FIX] 修复测试执行详情，用例步骤添加缺陷时，下拉框被遮挡问题
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
Due: build front

[IMP]问题详情关联测试兼容组织层操作
  react/index.js
  react/injects/issue-linked-test-case/TestLinkStore.js
  react/injects/issue-linked-test-case/index.js
Due: build front

[FIX] 修复测试计划执行详情的上一个/下一个顺序与列表页可能不一致的问题
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
Due: build backend, release backend

[FIX]修复用例库及计划中一系列错误
  react/components/Tree/index.js
  react/components/create-test-case/LinkIssue.tsx
  react/locale/zh_CN.js
  react/routes/CustomStatus/components/EditStatus/EditStatus.js
  react/routes/TestPlan/components/DragPlanFolder/index.js
  react/routes/TestPlan/components/EventCalendar/EventItem.js
  react/routes/TestPlan/components/TestPlanModal/index.js
  react/routes/TestPlan/components/TestPlanTree/TestPlanTree.js
  react/routes/TestPlan/stores/TestPlanTreeStore.js
Due: build front

[FIX] 修复计划日历调整计划时间报错&修复按状态查询测试用例详情页更新状态后快速操作不显示
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestPlanServiceImpl.java
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[FIX] 代码优化
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCycleCaseMapper.java
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[IMP]优化计划相关内容
  react/api/ExecuteDetailApi.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/DefectSelect/DefectSelect.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
  react/routes/TestPlan/components/TestPlanTree/TestPlanTree.js
Due: build front

[IMP] 修改测试优先级页面样式问题
  react/api/ExecuteDetailApi.js
  react/routes/priority/priorityList/PriorityList.less
Due: build front

[IMP]去除关联issue的冲刺排序
  react/routes/IssueManage/components/CreateLinkTask/index.tsx
Due: build front

[FIX]修改ci
  .gitlab-ci.yml
Due: none

[FIX]修复创建计划负责人显示不正确
  react/routes/TestPlan/components/TestPlanModal/dataSet.js
  react/routes/TestPlan/components/TestPlanModal/index.js
Due: build front

[FIX]修复计划结构调整后偶现的白屏
  react/routes/TestPlan/components/DragPlanFolder/index.js
Due: build front

[IMP] 修改changelog文件
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: none

[FIX]修复用例变更提醒步骤序列错误
  react/routes/TestPlan/components/UpdateRemindModalChildren/component/TestStepTable/TestStepTable.js
Due: build front

[IMP]多语言位置更改
  package.json
  react/locale/en_US/index.js
  react/locale/zh_CN/index.js
Due: build front

[IMP] 测试用例导入限制文件大小不能超过1M
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCaseController.java
  src/main/java/io/choerodon/test/manager/app/service/ExcelImportService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/resources/messages/messages_en_US.properties
  src/main/resources/messages/messages_zh_CN.properties
Due: build backend, release backend

[FIX] 用例库导入用例限制文件最大为1M
  package.json
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.less
Due: build front

[IMP] 测试用例导入调整文件大小校验顺序
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCaseController.java
Due: build backend, release backend

[IMP] 优化用例库导入用例报错信息提示
  react/api/FileApi.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
Due: build front

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-mysql-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
