Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

build front:
  stage: build
  script:
  - npm install --registry ${NPM_REPO} --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
  - chmod -R 755 node_modules
  - npm run compile
  - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
  - npm publish --registry ${NPM_PUBLISH_REGISTRY}
  ...

build backend:
  stage: build
  script:
  - update_pom_version
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
  - mvn package spring-boot:repackage
  - mv target/app.jar $PWD/docker
  - saveImageMetadata
  ...

release backend:
  stage: release
  script:
  - chart_build

[FIX]修改样式
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.less
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[FIX]修改样式
  react/routes/TestPlan/TestPlanHome/TestPlanHome.less
Due: build front

[FIX]修改样式
  react/components/User/User.js
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.js
Due: build front

[FIX]修改样式
  package.json
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.less
Due: build front

[FIX] 修复由于雪花id导致自动化测试release name过长无法执行的问题
  src/main/java/io/choerodon/test/manager/api/vo/devops/AppServiceDeployVO.java
  src/main/java/io/choerodon/test/manager/app/service/impl/DevopsServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/JsonImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestAutomationHistoryServiceImpl.java
Due: build backend, release backend

[FIX] 修复由于雪花id导致自动化测试release name过长无法执行的问题
  src/main/java/io/choerodon/test/manager/api/vo/devops/AppServiceDeployVO.java
  src/main/java/io/choerodon/test/manager/app/service/impl/DevopsServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/JsonImportServiceImpl.java
Due: build backend, release backend

[FIX] 修复id改为32进制sagaTask失败的问题
  src/main/java/io/choerodon/test/manager/infra/dto/TestAppInstanceDTO.java
Due: build backend, release backend

[FIX]修复查看日志报错
  package.json
  react/.env
  react/routes/AutoTest/AutoTestList/components/ContainerLog/ContainerLog.js
Due: build front

[FIX]添加ws参数
  react/routes/AutoTest/AutoTestList/components/ContainerLog/ContainerLog.js
Due: build front

[FIX] 修复自动化测试查询历史，resultId没有加密的问题
  src/main/java/io/choerodon/test/manager/api/vo/TestAutomationHistoryVO.java
Due: build backend, release backend

[FIX]修复查看日志
  package.json
  react/.env
  react/routes/AutoTest/AutoTestList/components/ContainerLog/ContainerLog.js
Due: build front

[IMP] 修复切换用例时前置条件的问题 & 切换时如果前置条件没有保存应提示是否放弃更改
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/EditIssue/Component/EditTestStepTable.js
  react/routes/IssueManage/components/EditIssue/EditIssue.js
Due: build front

[IMP] 关闭测试用例详情时添加是否放弃更改判断
  react/routes/IssueManage/components/EditIssue/EditIssue.js
  react/routes/IssueManage/components/EditIssue/Header.js
Due: build front

[IMP] 更改提示文本
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/EditIssue/Header.js
Due: build front

[IMP] 修改用例库判断前置信息是否保存的相关逻辑
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/EditIssue/Component/EditTestStepTable.js
  react/routes/IssueManage/components/EditIssue/Header.js
  react/routes/IssueManage/components/EditIssue/stores/EditIssueStore.js
  react/routes/IssueManage/stores/IssueStore.js
Due: build front

[FIX] 修复导入高并发导致caseNum重复
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestProjectInfoMapper.java
  src/main/java/io/choerodon/test/manager/infra/util/CaseNumUtil.java
  src/main/resources/mapper/TestProjectInfoMapper.xml
Due: build backend, release backend

[IMP]调整用例管理
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/IssueManage/index.js
Due: build front

[FIX]更改测试样式
  react/components/User/User.js
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.js
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.less
Due: build front

[FIX]API测试改为大写
  react/routes/IssueManage/IssueManage/index.js
Due: build front

[FIX]优化样式
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.less
Due: build front

[IMP]用户选择改成pro组件
  package.json
  react/common/types.ts
  react/components/select/select-user/index.tsx
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.less
Due: build front

[FIX]修改pom版本
  pom.xml
Due: build backend, release backend

[IMP]优化样式
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.less
Due: build front

[IMP]导入测试用例创建测试用例更改为批量
  src/main/java/io/choerodon/test/manager/api/vo/agile/IssueCreateDTO.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseStepService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseStepServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/dto/TestCaseDTO.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCaseMapper.java
  src/main/java/io/choerodon/test/manager/infra/util/RedisUtil.java
  src/main/resources/mapper/TestCaseMapper.xml
Due: build backend, release backend

[FIX]测试用例导入概要长度限制
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[IMP]测试用例导入概要更改为每100条插入一次
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[IMP]附件上传合并文件抛出文件服务自己的错误
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseAttachmentServiceImpl.java
Due: build backend, release backend

[FIX] 修复导入用例关联问题错误未返回错误信息
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[IMP]进度消息更改为每至少改变3%再推送
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[FIX] 修复导入用例进度不更新
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[FIX] 拆分循环依赖的代码
  src/main/java/io/choerodon/test/manager/app/assembler/TestCaseAssembler.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseAttachmentServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseStepServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
Due: build backend, release backend

[IMP] 修改测试服务附件相关的显示方式
  package.json
  react/components/Tree/TreeNode.js
  react/routes/IssueManage/components/UploadButtonNow/UploadButtonNow.less
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteDetailSide/UploadButtonNow.less
  react/routes/TestPlan/components/UpdateRemindModalChildren/component/UpdateContent/UpdateContent.js
Due: build front

[IMP] 修改导入模板说明,增加关联问题示例
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[FIX]修复宽度可调整逻辑
  package.json
  react/routes/IssueManage/components/EditIssue/EditIssue.js
Due: build front

[FIX]前端装包加上认证
  .gitlab-ci.yml
Due: none

Update package.json
  package.json
Due: build front

[FIX] 修复导入用例缺少自定义编号
  src/main/resources/mapper/TestCaseMapper.xml
Due: build backend, release backend

[FIX] 修复测试计划：创建缺陷选择父级任务未生效
  src/main/java/io/choerodon/test/manager/api/vo/agile/IssueCreateDTO.java
Due: build backend, release backend

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-mysql-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
