Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

.gitlab-ci.yml:

image: registry.cn-shanghai.aliyuncs.com/c7n/cibase:0.11.0

stages:
  - build
  - release

build front:
  stage: build
  script:
    - npm install --registry ${NPM_REPO} --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
    - chmod -R 755 node_modules
    - npm run compile
    - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
    - npm publish --registry ${NPM_PUBLISH_REGISTRY}
    - curl -sX POST -F token=${FRONT_REPOSITORY_TOKEN} -F ref=${REF_NAME} https://code.choerodon.com.cn/api/v4/projects/7909/trigger/pipeline
  except:
    changes:
      - pom.xml
      - src/**/*
      - docker/**/*
      - chart/**/*
      - init-mysql-database.sh
      - .circleci/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"
  only:
      refs:
      - master
      - /^.*bugfix.*$/
      - /^.*hotfix.*$/
      - /^.*release.*$/

tag front:
  stage: build
  script:
    - npm install --registry ${NPM_REPO} --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
    - chmod -R 755 node_modules
    - npm run compile
    - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
    - npm publish --registry ${NPM_PUBLISH_REGISTRY}
  only:
    refs:
    - tags

build backend:
  stage: build
  script:
    - update_pom_version
    - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
    - mvn package spring-boot:repackage
    - mv target/app.jar $PWD/docker
    - saveImageMetadata
    - kaniko -c $PWD/docker -f $PWD/docker/Dockerfile -d ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}
  except:
    changes:
      - .editorconfig
      - .eslintrc.json
      - .stylelintrc.json
      - gulpfile.js
      - package.json
      - react/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"
  only:
    refs:
    - master
    - /^.*bugfix.*$/
    - /^.*hotfix.*$/
    - /^.*release.*$/

tag backend:
  stage: build
  script:
    - update_pom_version
    - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
    - mvn package spring-boot:repackage
    - mv target/app.jar $PWD/docker
    - saveImageMetadata
    - docker build --platform linux/arm64 -t ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}-arm -f $PWD/docker/Dockerfile $PWD/docker
    - docker push ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}-arm
    - kaniko -c $PWD/docker -f $PWD/docker/Dockerfile -d ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}
  only:
    refs:
    - tags


release backend:
  stage: release
  script:
    - chart_build
  except:
    changes:
      - .editorconfig
      - .eslintrc.json
      - .stylelintrc.json
      - gulpfile.js
      - package.json
      - react/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"


tag release:
  stage: release
  script:
    - chart_build
  only:
    - tags

.auto_devops: &auto_devops |
  http_status_code=`curl -o .auto_devops.sh -s -m 10 --connect-timeout 10 -w %{http_code} "${CHOERODON_URL}/devops/ci?token=${Token}&type=microservice"`
  if [ "$http_status_code" != "200" ]; then
    cat .auto_devops.sh
    exit 1
  fi
  source .auto_devops.sh

before_script:
  - *auto_devops

[FIX]修改对齐
  react/routes/TestPlan/TestPlanHome/TestPlanHome.less
Due: build front

[FIX]修改批量删除样式
  react/routes/TestPlan/components/BatchAction/BatchDeleteConfirm/index.tsx
Due: build front

[FIX]修复测试执行滚动条
  react/components/Progress/index.less
Due: build front

[IMP] 修改choerodon-parent版本为0.19.1.RELEASE
  pom.xml
Due: build backend, release backend

[IMP] 添加上传附件合并接口到权限集
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[FIX] 修复用例库更新用例名称和添加前置条件，测试计划中未出现“未更新标签”
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
Due: build backend, release backend

[FIX]测试用例 保存并同步到用例库报错
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
Due: build backend, release backend

[FIX]更改文案
  react/routes/IssueManage/components/IssueTable/IssueTable.less
  react/routes/IssueManage/components/IssueTable/TableDraggleItem.js
Due: build front

[FIX]测试用例 保存并同步到用例库报错
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/dto/TestCaseDTO.java
Due: build backend, release backend

[FIX]修改样式
  react/routes/IssueManage/components/CreateIssueTiny/CreateIssueTiny.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
Due: build front

[FIX]修复执行详情创建缺陷描述异常&经办人为id
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/CreateBug/CreateBug.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/DefectSelect/DefectSelect.js
Due: build front

[IMP] 修改菜单层级和图标
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-menu-label.xlsx
Due: build backend, release backend

[FIX]修复导入用例重复选择
  react/routes/TestPlan/components/ImportIssue/IssueTable.js
Due: build front

[FIX]修复执行详情创建缺陷错误前置用户信息请求
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/CreateBug/CreateBug.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
Due: build front

[ADD]新增0.25-changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: none

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend

[DEL] 删除冗余的日志信息
  src/main/java/io/choerodon/test/manager/app/service/impl/DevopsServiceImpl.java
Due: build backend, release backend

[ADD]添加changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: none

[DEL] 组织层设置菜单移除N_TEST_MENU标签
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[FIX]修改pom版本
  pom.xml
Due: build backend, release backend

[FIX]修改pom版本及依赖
  .gitlab-ci.yml
  pom.xml
  src/main/resources/application.yml
Due: none

Update package.json
  package.json
Due: build front

[IMP]测试用例导出适应新版富文本
  pom.xml
  src/main/java/io/choerodon/test/manager/infra/util/ExcelUtil.java
Due: build backend, release backend

[IMP]修改测试富文本组件
  package.json
  react/common/utils.js
  react/components/CKEditor/index.tsx
  react/components/CKEditorViewer/index.tsx
  react/components/FullEditor/FullEditor.js
  react/components/FullEditor/FullEditor.less
  react/components/FullEditor/index.js
  react/components/RichTextShow/RichTextShow.js
  react/components/RichTextShow/RichTextShow.less
  react/components/RichTextShow/index.js
  react/components/WYSIWYGEditor/index.js
  react/components/create-test-case/CreateIssue.js
  react/components/create-test-case/store/CreateIssueDataSet.js
  react/components/create-test-case/store/PriorityOptionDataSet.js
  react/components/index.js
  react/routes/IssueManage/components/CreateIssue/CreateIssue.js
  react/routes/IssueManage/components/CreateIssue/CreateIssue.less
  react/routes/IssueManage/components/CreateIssue/CreateTestStepTable.js
  react/routes/IssueManage/components/CreateIssue/UploadButton.js
  react/routes/IssueManage/components/CreateIssue/UploadButton.less
  react/routes/IssueManage/components/CreateIssue/index.js
  react/routes/IssueManage/components/CreateIssue/store/CreateIssueDataSet.js
  react/routes/IssueManage/components/CreateIssue/store/PriorityOptionDataSet.js
  react/routes/IssueManage/components/EditIssue/Component/EditTestStepTable.js
  react/routes/IssueManage/components/EditIssue/EditIssue.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.less
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/EditExecuteIssue/EditExecuteIssue.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteDetailSide/ExecuteDetailSide.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteHistoryTable/ExecuteHistoryTable.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/DefectSelect/DefectSelect.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/auto-height-precondition/index.js
  react/routes/TestPlan/components/UpdateRemindModalChildren/component/UpdateContent/UpdateContent.js
Due: build front

[FIX]修复测试头像样式
  react/components/UserHead/UserHead.js
Due: build front

[ADD]增加注入组件
  package.json
  react/injects/issue-linked-test-case/components/case/index.less
  react/injects/issue-linked-test-case/components/case/index.tsx
  react/injects/issue-linked-test-case/index.tsx
  react/install.js
Due: build front

[FIX] 下载的测试用例导入模板excel的readme Sheet页自定义编号改为选填
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[ADD]测试计划增加版本、冲刺关联
  src/main/java/io/choerodon/test/manager/api/vo/TestPlanVO.java
  src/main/java/io/choerodon/test/manager/api/vo/agile/ProductVersionDTO.java
  src/main/java/io/choerodon/test/manager/api/vo/agile/SprintNameDTO.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestPlanServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/dto/TestPlanDTO.java
  src/main/java/io/choerodon/test/manager/infra/feign/ProductionVersionClient.java
  src/main/java/io/choerodon/test/manager/infra/feign/SprintClient.java
  src/main/java/io/choerodon/test/manager/infra/feign/callback/ProductionVersionClientFallback.java
  src/main/java/io/choerodon/test/manager/infra/feign/callback/SprintClientFallback.java
  src/main/java/io/choerodon/test/manager/infra/feign/operator/AgileClientOperator.java
  src/main/resources/script/db/groovy/test_manager_service/test_plan.groovy
Due: build backend, release backend

[ADD]添加测试关联issue前端
  react/components/SelectFocusLoad/SelectFocusLoad.js
  react/components/test-case-link-list/CaseListItem.js
  react/injects/issue-linked-test-case/TestCaseModal.js
  react/injects/issue-linked-test-case/TestLinkStore.js
  react/injects/issue-linked-test-case/components/case/index.js
  react/injects/issue-linked-test-case/components/case/index.less
  react/injects/issue-linked-test-case/components/case/index.tsx
  react/injects/issue-linked-test-case/components/test-plan/index.js
  react/injects/issue-linked-test-case/components/test-plan/index.less
  react/injects/issue-linked-test-case/index.js
  react/injects/issue-linked-test-case/index.tsx
  react/injects/issue-linked-test-case/useSelect/FragmentForSearch.js
  react/injects/issue-linked-test-case/useSelect/index.js
  react/injects/issue-linked-test-case/useSelect/index.less
  react/install.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.less
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.js
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.less
  react/routes/TestPlan/components/TestPlanModal/dataSet.js
  react/routes/TestPlan/components/TestPlanModal/index.js
  react/routes/TestPlan/components/TestPlanStatusCard/TestPlanStatusCard.js
  react/routes/TestPlan/components/TestPlanStatusCard/TestPlanStatusCard.less
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[FIX]对接创建计划可以选冲刺和版本
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.js
  react/routes/TestPlan/components/TestPlanModal/dataSet.js
  react/routes/TestPlan/components/TestPlanModal/index.js
Due: build front

[ADD]创建计划时可选导入指定冲刺下问题关联的用例
  src/main/java/io/choerodon/test/manager/api/vo/TestPlanVO.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestPlanServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCaseLinkMapper.java
  src/main/resources/mapper/TestCaseLinkMapper.xml
Due: build backend, release backend

[ADD]查询问题关联测试用例带出其同冲刺的执行信息
  src/main/java/io/choerodon/test/manager/api/vo/TestCaseLinkVO.java
  src/main/java/io/choerodon/test/manager/api/vo/TestCycleCaseLinkVO.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseLinkServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCycleCaseMapper.java
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend

[FIX] 下载的测试用例导入模板excel的readme Sheet页自定义编号改为选
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[ADD]对接测试执行显示
  react/injects/issue-linked-test-case/components/case/index.js
  react/injects/issue-linked-test-case/components/case/index.less
  react/injects/issue-linked-test-case/components/test-plan/index.js
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.js
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.less
  react/routes/TestPlan/components/TestPlanModal/index.js
  react/routes/TestPlan/components/TestPlanStatusCard/TestPlanStatusCard.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[IMP]查询问题关联测试用例带出执行信息增加计划id属性
  src/main/java/io/choerodon/test/manager/api/vo/TestCycleCaseLinkVO.java
  src/main/resources/mapper/TestCycleCaseMapper.xml
Due: build backend, release backend
