Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

build front:
  stage: build
  script:
  - npm install --registry ${NPM_REPO} --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
  - chmod -R 755 node_modules
  - npm run compile
  - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
  - npm publish --registry ${NPM_PUBLISH_REGISTRY}
  ...

build backend:
  stage: build
  script:
  - update_pom_version
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
  - mvn package spring-boot:repackage
  - mv target/app.jar $PWD/docker
  - saveImageMetadata
  ...

release backend:
  stage: release
  script:
  - chart_build

[FIX]修改pom服务版本与ci
  .gitlab-ci.yml
  pom.xml
  src/main/resources/application.yml
Due: none

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend

Update package.json
  package.json
Due: build front

[FIX]注释task
  src/main/java/io/choerodon/test/manager/infra/task/FixDataTask.java
Due: build backend, release backend

[FIX]修改pom服务版本
  pom.xml
Due: build backend, release backend

[FIX] 修复导入用例没有错误详细信息的问题
  src/main/java/io/choerodon/test/manager/api/vo/TestFileLoadHistoryWebsocketVO.java
Due: build backend, release backend

[FIX]修复最大值提示组件编辑时无值&慢网速下步骤无限循环
  package.json
  react/components/PromptInput/PromptInput.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/stores/StepTableDataSet.js
Due: build front

[IMP]优化执行详情操作
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/stores/StepTableDataSet.js
Due: build front

[IMP] 执行详情创建缺陷应该带出该执行的所有步骤
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/DefectSelect/DefectSelect.js
Due: build front

[ADD] 调整计划结构时，支持批量拖动文件夹
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCycleController.java
  src/main/java/io/choerodon/test/manager/api/vo/TestCycleVO.java
  src/main/java/io/choerodon/test/manager/app/service/TestCycleService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/mapper/TestCycleMapper.java
  src/main/resources/mapper/TestCycleMapper.xml
Due: build backend, release backend

[IMP] 修改菜单标签关系
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-iam-project-category.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-menu-label.xlsx
Due: build backend, release backend

[IMP]缺陷列表查询参数更改&计划文件结构拖拽增加按键监听
  babel.config.js
  package.json
  react/api/agileApi.js
  react/routes/TestPlan/components/DragPlanFolder/TreePlanNode.js
  react/routes/TestPlan/components/DragPlanFolder/index.js
Due: build front

[IMP] 初始化菜单调整
  init-local-database.sh
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-menu-label.xlsx
Due: build backend, release backend

[IMP] 还原init-local-database.sh
  init-local-database.sh
Due: build front, build backend, release backend

[IMP] 调整跟菜单顺序
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-menu-label.xlsx
Due: build backend, release backend

[FIX]去掉api测试tab过滤
  react/routes/IssueManage/IssueManage/index.js
Due: build front

[IMP] 修改消费项目创建saga逻辑
  src/main/java/io/choerodon/test/manager/api/vo/event/ProjectEvent.java
  src/main/java/io/choerodon/test/manager/api/vo/event/ProjectEventCategory.java
  src/main/java/io/choerodon/test/manager/app/eventhandler/TestManagerEventHandler.java
Due: build backend, release backend

[IMP] 测试执行步骤创建缺陷描述默认应该是该步骤之前所有步骤
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/DefectSelect/DefectSelect.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
Due: build front

[FIX] 修改ProjectEvent项目类别参数名
  src/main/java/io/choerodon/test/manager/api/vo/event/ProjectEvent.java
  src/main/java/io/choerodon/test/manager/app/eventhandler/TestManagerEventHandler.java
Due: build backend, release backend

[IMP] 修复测试服务测试步骤创建缺陷带出之前步骤的问题
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
Due: build front

[IMP]修改table可点击样式
  react/routes/IssueManage/components/IssueTable/tags.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[IMP]修复测试计划table颜色
  react/index.less
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[FIX]项目有敏捷才展示敏捷相关
  package.json
  react/hooks/useCategoryCodes.ts
  react/hooks/useHasAgile.tsx
  react/routes/IssueManage/components/EditIssue/Detail.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
Due: build front

[IMP]计划调整结构增加文件夹批量拖拽
  react/api/TestPlanApi.js
  react/components/test-case-link-list/index.js
  react/routes/TestPlan/components/DragPlanFolder/TreePlanNode.js
  react/routes/TestPlan/components/DragPlanFolder/index.js
  react/routes/TestPlan/components/DragPlanFolder/index.less
  react/routes/TestPlan/components/DragPlanFolder/useMultiSelect.js
Due: build front

[IMP]测试用例列表暴露出store&批量拖拽计划文件结构调整
  react/components/test-case-link-list/index.js
  react/routes/TestPlan/components/DragPlanFolder/TreePlanNode.js
  react/routes/TestPlan/components/DragPlanFolder/index.js
Due: build front

[IMP]修改测试计划时间展示
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.js
Due: build front

[IMP]计划文件结构批量调整增加顺序记录
  react/routes/TestPlan/components/DragPlanFolder/TreePlanNode.js
  react/routes/TestPlan/components/DragPlanFolder/index.js
Due: build front

[IMP] 调整菜单的层级
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-fd-report.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-menu-label.xlsx
Due: build backend, release backend

[IMP] testLink组件添加ref，暴露相关store
  react/components/test-case-link-list/index.js
Due: build front

[FIX]修复计划文件夹结构批量拖拽后异常序列
  react/api/TestPlanApi.js
  react/components/Tree/index.js
  react/routes/TestPlan/components/DragPlanFolder/TreePlanNode.js
  react/routes/TestPlan/components/DragPlanFolder/index.js
  react/routes/TestPlan/components/DragPlanFolder/useMultiSelect.js
Due: build front

[IMP] 调整一级菜单
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-fd-report.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-menu-label.xlsx
Due: build backend, release backend

[IMP]拖拽树拖拽增加拖拽前事件
  react/components/Tree/index.js
Due: build front

[FIX]修复拖拽到有用例文件夹的白屏
  react/components/Tree/index.js
  react/routes/TestPlan/components/DragPlanFolder/index.js
Due: build front

[FIX] 修复计划调整结构批量拖动无效
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCycleController.java
  src/main/java/io/choerodon/test/manager/app/service/TestCycleService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleServiceImpl.java
Due: build backend, release backend

[IMP]计划文件调整结构解除选中限定&表格用例样式调整
  react/routes/TestPlan/components/DragPlanFolder/TreePlanNode.js
  react/routes/TestPlan/components/DragPlanFolder/index.less
  react/routes/TestPlan/components/DragPlanFolder/useMultiSelect.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[IMP] 项目类型增加sequence字段的值
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-iam-project-category.xlsx
Due: build backend, release backend

[IMP] feign调用处理以及添加更新项目类型的saga
  pom.xml
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestProjectInfoController.java
  src/main/java/io/choerodon/test/manager/app/eventhandler/TestManagerEventHandler.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/TestProjectInfoService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseLinkServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestPlanServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestProjectInfoServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/aspect/TestCycleCaseHistoryRecordAspect.java
  src/main/java/io/choerodon/test/manager/infra/constant/SagaTaskCodeConstants.java
  src/main/java/io/choerodon/test/manager/infra/feign/IssueFeignClient.java
  src/main/java/io/choerodon/test/manager/infra/feign/TestCaseFeignClient.java
  src/main/java/io/choerodon/test/manager/infra/feign/callback/IssueFeignClientFallback.java
  src/main/java/io/choerodon/test/manager/infra/feign/callback/TestCaseFeignClientFallback.java
  src/main/java/io/choerodon/test/manager/infra/feign/operator/AgileClientOperator.java
Due: build backend, release backend

[IMP] 删除注释的类以及没用到的feign接口
  src/main/java/io/choerodon/test/manager/infra/feign/callback/ProductionVersionClientFallback.java
Due: build backend, release backend

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-mysql-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
