Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

build front:
  stage: build
  script:
  - npm config set "//${NPM_REPO}:_authToken" "${NPM_TOKEN}"
  - npm config set "//${NPM_REGISTRY}:_authToken" "${NPM_TOKEN}"
  - npm config set always-auth true
  - yarn install --registry "https://${NPM_REPO}" --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
  ...

build backend:
  stage: build
  script:
  - update_pom_version
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
  - mvn package spring-boot:repackage
  - mv target/app.jar $PWD/docker
  - saveImageMetadata
  ...

release backend:
  stage: release
  script:
  - chart_build

[FIX]修改pom版本
  pom.xml
  src/main/resources/application.yml
Due: build backend, release backend

[FIX]修改配置
  .gitlab-ci.yml
  pom.xml
  src/main/resources/application.yml
Due: none

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend

Update package.json
  package.json
Due: build front

[ADD] 测试用例支持批量导入及更新
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCaseController.java
  src/main/java/io/choerodon/test/manager/api/vo/agile/IssueCreateDTO.java
  src/main/java/io/choerodon/test/manager/app/service/ExcelImportService.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseLinkService.java
  src/main/java/io/choerodon/test/manager/app/service/TestCaseService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseLinkServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/enums/ExcelTitleName.java
Due: build backend, release backend

[IMP] 更新测试用例导入模板
  src/main/java/io/choerodon/test/manager/api/vo/ExcelReadMeOptionVO.java
  src/main/java/io/choerodon/test/manager/api/vo/agile/IssueCreateDTO.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/util/ExcelUtil.java
Due: build backend, release backend

[ADD]导入用例增加提示&修改样式
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.less
Due: build front

[IMP]测试用例导入样式更改
  react/.env
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.less
Due: build front

[IMP] 删除冗余索引
  src/main/resources/script/db/groovy/test_manager_service/test_case_step.groovy
Due: build backend, release backend

[IMP] 调整测试用例导出样式
  src/main/java/io/choerodon/test/manager/api/vo/ExcelCaseVO.java
  src/main/java/io/choerodon/test/manager/app/service/ExcelExportService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/AbstarctExcelExportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseExcelExportServiceImpl.java
  src/main/resources/mapper/TestCaseMapper.xml
Due: build backend, release backend

[DEL]删除导入用例目录选择校验
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
Due: build front

[IMP]测试用例库导入样式更改
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.less
Due: build front

[IMP] 测试用例导入导出样式优化
  src/main/java/io/choerodon/test/manager/app/service/impl/AbstarctExcelExportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseExcelExportServiceImpl.java
Due: build backend, release backend

[IMP]测试用例库导入提示样式更改
  react/routes/IssueManage/components/ImportIssue/ImportIssue.less
Due: build front

[ci skip] update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

[FIX] 修复导入用例可重复关联工作项
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[IMP]导入用例相应提示词更改
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
Due: build front

[IMP]问题详情关联测试用例icon更改
  react/injects/issue-linked-test-case/index.js
Due: build front

[IMP]上传下载icon更改
  react/components/UploadInTable/UploadInTable.js
  react/components/create-test-case/UploadButton.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/EditExecuteIssue/UploadButton.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/ExecuteDetailSide/ExecuteDetailSide.js
Due: build front

[IMP]更换计划、测试优先级一些旧组件
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
  react/routes/priority/priorityList/PriorityList.js
Due: build front

[FIX]修改ci
  .gitlab-ci.yml
Due: none

[IMP]上传附件按钮样式更改
  react/components/create-test-case/UploadButton.js
Due: build front

[ADD] 新增 1.2.0 changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: none

[FIX]测试优先级表placeholder样式调整
  react/routes/priority/priorityList/PriorityList.js
  react/routes/priority/priorityList/PriorityList.less
Due: build front

[IMP]用例库导入用例隐藏取消导入
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
Due: build front

[FIX] 修复导入测试用例更新重复用例导入失败
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[FIX] 修复导入测试用例不显示
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
Due: build backend, release backend

[FIX]修改pom版本
  pom.xml
Due: build backend, release backend

[IMP] 修改test_fileload_history.file_url的长度为1024
  src/main/resources/script/db/groovy/test_manager_service/test_fileload_history.groovy
Due: build backend, release backend

fix vuln
  pom.xml
Due: build backend, release backend

[FIX] 修复工作项详情跳转到用例库时选中的目录不准确问题
  react/routes/IssueManage/IssueManage/IssueManage.js
Due: build front

[IMP] 修改版本为1.3.0-alpha.1-SNAPSHOT
  pom.xml
Due: build backend, release backend

【FIX】修改权限集
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[FIX] 统一附件相对路径和绝对路径相互转换逻辑
  chart/test-manager-service/values.yaml
  src/main/java/io/choerodon/test/manager/app/assembler/TestCaseAssembler.java
  src/main/java/io/choerodon/test/manager/app/service/FilePathService.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelImportServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/ExcelServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/FilePathServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseAttachmentServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCycleCaseAttachmentRelServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/enums/FileUploadBucket.java
  src/main/java/io/choerodon/test/manager/infra/enums/TestAttachmentCode.java
  src/main/resources/application.yml
Due: build backend, release backend

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-mysql-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
