Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

build front:
  stage: build
  script:
  - npm install --registry ${NPM_REPO} --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
  - chmod -R 755 node_modules
  - npm run compile
  - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
  - npm publish --registry ${NPM_PUBLISH_REGISTRY}
  ...

build backend:
  stage: build
  script:
  - update_pom_version
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
  - mvn package spring-boot:repackage
  - mv target/app.jar $PWD/docker
  - saveImageMetadata
  ...

release backend:
  stage: release
  script:
  - chart_build

[ADD]增加定位
  react/components/Tree/TreeNode.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
  react/routes/TestPlan/stores/TestPlanTreeStore.js
Due: build front

[IMP] 测试服务添加输入指引
  react/components/TestStepTable/TestStepTable.js
  react/components/create-test-case/CreateIssue.js
Due: build front

[IMP] 修改javabase和cibase
  .gitlab-ci.yml
  docker/Dockerfile
Due: none

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend

[IMP]批量分配清空形式更改&列表样式调整
  react/common/TableDropMenu.js
  react/routes/CustomStatus/components/TableDropMenu/index.js
  react/routes/TestPlan/components/BatchAssignModal/index.tsx
Due: build front

[IMP] 修改测试服务的几个bug
  react/components/create-test-case/CreateIssue.less
  react/components/create-test-case/UploadButton.less
  react/routes/TestPlan/components/DragPlanFolder/index.less
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/EditExecuteIssue/EditExecuteIssue.less
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/EditExecuteIssue/UploadButton.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/EditExecuteIssue/UploadButton.less
  react/routes/TestPlan/components/TestPlanExecuteDetail/stores/EditExecuteCaseDataSet.js
Due: build front

[FIX]修复选择计划层级批量指派文件夹表格不刷新
  react/routes/TestPlan/components/TestPlanTree/TestPlanTree.js
Due: build front

[IMP] 修改测试服务的几个bug
  react/.env
  react/index.less
  react/routes/CustomStatus/components/EditStatus/EditStatus.js
  react/routes/CustomStatus/components/EditStatus/EditStatus.less
  react/routes/CustomStatus/components/StatusTable/StatusTable.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.js
  react/routes/IssueManage/components/ImportIssue/ImportIssue.less
  react/routes/IssueManage/components/IssueTable/IssueTable.js
  react/routes/IssueManage/components/IssueTable/tags.js
  react/routes/TestPlan/components/BatchAction/index.less
  react/routes/TestPlan/components/BatchAction/index.tsx
  react/routes/TestPlan/components/TestPlanModal/dataSet.js
  react/routes/TestPlan/components/TestPlanModal/index.js
  react/routes/TestPlan/components/TestPlanModal/index.less
Due: build front

[IMP] 修改测试计划批量修改弹窗层级和测试优先级样式相关逻辑
  react/common/TableDropMenu.js
  react/routes/TestPlan/components/BatchAction/index.tsx
  react/routes/priority/priorityCreate/PriorityCreate.js
  react/routes/priority/priorityCreate/priorityCreate.less
  react/routes/priority/priorityEdit/PriorityEdit.js
  react/routes/priority/priorityEdit/priorityEdit.less
  react/routes/priority/priorityList/PriorityList.js
  react/routes/priority/priorityList/PriorityList.less
Due: build front

[FIX]更改样式
  react/routes/CustomStatus/components/CreateStatus/CreateStatus.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/TestPlanHome/testCaseEmpty.svg
Due: build front

[FIX]更改样式
  react/injects/issue-linked-test-case/components/case/index.js
  react/injects/issue-linked-test-case/components/case/index.less
Due: build front

[IMP] 修改测试服务的几个样式问题
  react/components/UserHead/UserHead.js
  react/components/create-test-case/CreateIssue.js
  react/index.less
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/IssueManage/IssueManage.less
  react/routes/IssueManage/components/IssueTable/IssueTable.js
  react/routes/IssueManage/components/IssueTable/IssueTable.less
  react/routes/IssueManage/components/IssueTable/tags.js
  react/routes/TestPlan/components/TestPlanHeader/TestPlanHeader.js
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[FIX]修改ci
  .gitlab-ci.yml
Due: none

[IMP] 修改测试服务批量指派和批量删除样式问题
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
  react/routes/TestPlan/components/BatchAction/BatchDeleteConfirm/index.less
  react/routes/TestPlan/components/BatchAction/BatchDeleteConfirm/index.tsx
  react/routes/TestPlan/components/BatchAction/index.less
  react/routes/TestPlan/components/BatchAction/index.tsx
Due: build front

[IMP] 修复执行用例无法点进详情 & 快速修改执行状态报错的问题
  react/routes/TestPlan/components/BatchAction/index.tsx
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/QuickOperate/QuickOperate.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/QuickOperate/QuickOperate.less
Due: build front

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update package.json
  package.json
Due: build front

[FIX]修复搜索样式
  react/components/create-test-case/LinkIssue.tsx
Due: build front

[IMP] 修复测试用例关联问题项弹窗中搜索样式问题
  react/routes/IssueManage/components/CreateLinkTask/index.tsx
Due: build front

[ADD]新增changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: none

[IMP] 修改指引文档菜单excel
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[IMP] 修改统计菜单的图标
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[IMP]测试帮助文档、指引文档链接配置
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[FIX]测试帮助文档、指引文档链接配置
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[ADD]增加tab切换逻辑
  react/routes/IssueManage/IssueManage/index.js
Due: build front

[FIX]筛选人可清空
  react/routes/TestPlan/components/TestPlanTable/TestPlanTable.js
Due: build front

[FIX]修复计划分页
  react/.env
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
Due: build front

[FIX]修复计划按钮
  react/routes/TestPlan/components/TestPlanHeader/TestPlanHeader.js
Due: build front

[IMP]测试组织层帮助文档链接配置
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

更改版本
  package.json
Due: build front

[FIX]更改详情层级
  react/routes/IssueManage/components/EditIssue/EditIssue.js
Due: build front

[IMP]测试组织层自动化菜单添加帮助文档链接
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[IMP] 修改测试服务详情间距问题
  react/routes/IssueManage/components/EditIssue/Component/EditDetailWrap.less
  react/routes/IssueManage/components/EditIssue/Component/EditTestStepTable.less
Due: build front

[FIX]修改pom版本
  pom.xml
Due: build backend, release backend

更改前端版本
  package.json
Due: build front

[FIX]修改pom版本
  .gitlab-ci.yml
  pom.xml
  src/main/resources/application.yml
Due: none

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-mysql-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
