Repository open-hand/test-manager-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

.gitlab-ci.yml:

image: registry.cn-shanghai.aliyuncs.com/c7n/cibase:0.11.4

stages:
  - build
  - release

build front:
  stage: build
  script:
    - npm config set "//${NPM_REPO}:_authToken" "${NPM_TOKEN}"
    - npm config set "//${NPM_REGISTRY}:_authToken" "${NPM_TOKEN}"
    - npm config set always-auth true
    - yarn install --registry "https://${NPM_REPO}" --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
    - chmod -R 755 node_modules
    - npm run compile
    - npm publish --registry "https://${NPM_REGISTRY}"
    - curl -sX POST -F token=${FRONT_REPOSITORY_TOKEN} -F ref=${REF_NAME} https://code.choerodon.com.cn/api/v4/projects/7909/trigger/pipeline
  except:
    changes:
      - pom.xml
      - src/**/*
      - docker/**/*
      - chart/**/*
      - init-mysql-database.sh
      - .circleci/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"
  only:
    refs:
      - master
      - /^.*bugfix.*$/
      - /^.*hotfix.*$/
      - /^.*release.*$/

tag front:
  stage: build
  script:
    - npm config set "//${NPM_REPO}:_authToken" "${NPM_TOKEN}"
    - npm config set "//${NPM_REGISTRY}:_authToken" "${NPM_TOKEN}"
    - npm config set always-auth true
    - yarn install --registry "https://${NPM_REPO}" --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
    - chmod -R 755 node_modules
    - npm run compile
    - npm publish --registry "https://${NPM_REGISTRY}"
  only:
    refs:
      - tags

build backend:
  stage: build
  script:
    - update_pom_version
    - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
    - mvn package spring-boot:repackage
    - mv target/app.jar $PWD/docker
    - saveImageMetadata
    - kaniko -c $PWD/docker -f $PWD/docker/Dockerfile -d ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}
  except:
    changes:
      - .editorconfig
      - .eslintrc.json
      - .stylelintrc.json
      - gulpfile.js
      - package.json
      - react/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"
  only:
    refs:
      - master
      - /^.*bugfix.*$/
      - /^.*hotfix.*$/
      - /^.*release.*$/

tag backend:
  stage: build
  script:
    - update_pom_version
    - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
    - mvn package spring-boot:repackage
    - mv target/app.jar $PWD/docker
    - saveImageMetadata
    - docker build --platform linux/arm64 -t ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}-arm -f $PWD/docker/Dockerfile $PWD/docker
    - docker push ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}-arm
    - kaniko -c $PWD/docker -f $PWD/docker/Dockerfile -d ${DOCKER_REGISTRY}/${GROUP_NAME}/${PROJECT_NAME}:${CI_COMMIT_TAG}
  only:
    refs:
      - tags


release backend:
  stage: release
  script:
    - chart_build
  except:
    changes:
      - .editorconfig
      - .eslintrc.json
      - .stylelintrc.json
      - gulpfile.js
      - package.json
      - react/**/*
      - .gitignore
      - .github/**/*
      - .gitlab-ci.yml
      - "*.md"


tag release:
  stage: release
  script:
    - chart_build
  only:
    - tags

.auto_devops: &auto_devops |
  http_status_code=`curl -o .auto_devops.sh -s -m 10 --connect-timeout 10 -w %{http_code} "${CHOERODON_URL}/devops/ci?token=${Token}&type=microservice"`
  if [ "$http_status_code" != "200" ]; then
    cat .auto_devops.sh
    exit 1
  fi
  source .auto_devops.sh

before_script:
  - *auto_devops

[FIX]修改pom版本
  pom.xml
Due: build backend, release backend

Update TestManagerServiceApplication.java
  src/main/java/io/choerodon/test/manager/TestManagerServiceApplication.java
Due: build backend, release backend

[IMP] 修改测试状态颜色需要校验并添加错误信息的中英文翻译
  src/main/java/io/choerodon/test/manager/api/validator/TestStatusValidator.java
  src/main/java/io/choerodon/test/manager/app/service/impl/TestStatusServiceImpl.java
  src/main/resources/messages/messages_en_US.properties
  src/main/resources/messages/messages_zh_CN.properties
Due: build backend, release backend

[IMP] 修复菜单多语言
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[FIX]修复table修改页面后没有变化为第一页
  react/routes/IssueManage/components/IssueTable/IssueTable.js
  react/routes/TestPlan/TestPlanHome/TestPlanHome.js
Due: build front

[IMP]去除网络错误提示
  react/routes/CustomStatus/CustomStatusHome/CustomStatusHomeContainer.js
Due: build front

[IMP] 修改协作菜单英文
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
Due: build backend, release backend

[FIX] 修复测试计划中批量弹窗不展示问题
  react/index.js
  react/routes/TestPlan/components/BatchAction/index.tsx
Due: build front

[FIX]修改pom版本及配置
  .gitlab-ci.yml
  pom.xml
  src/main/resources/application.yml
Due: none

[IMP]测试多语言更改
  react/routes/CustomStatus/CustomStatusHome/CustomStatusHome.js
  react/routes/IssueManage/IssueManage/IssueManage.js
  react/routes/IssueManage/components/CreateIssueTiny/CreateIssueTiny.js
Due: build front

[IMP] 修改测试批量操作弹窗与敏捷批量操作一致
  package.json
  react/.env
  react/routes/TestPlan/components/BatchAction/index.less
  react/routes/TestPlan/components/BatchAction/index.tsx
Due: build front

[IMP] 统一批量操作弹窗Header按钮的颜色
  react/routes/TestPlan/components/BatchAction/index.less
Due: build front

[IMP] 调整菜单多语言
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/hzero_menu_user_role_label.xlsx
  src/main/resources/script/db/init-data/test_manager_service/hzero_platform/test-menu-label.xlsx
Due: build backend, release backend

[IMP]测试样式调整
  package.json
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.js
  react/routes/TestPlan/components/TestPlanExecuteDetail/TestPlanExecuteDetail.js
Due: build front

[FIX]修改测试计划详情样式
  react/routes/TestPlan/components/TestPlanDetailCard/TestPlanDetailCard.js
Due: build front

[FIX]测试执行步骤表格附件显示更改
  react/components/UploadInTable/UploadInTable.js
Due: build front

[IMP]测试执行详情步骤注释框样式调整
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/StepTable.js
Due: build front

[IMP]执行修改用例附件样式修改
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/EditExecuteIssue/EditExecuteIssue.less
Due: build front

[FIX]测试用例变更提醒多语言修正
  react/routes/TestPlan/components/UpdateRemindModalChildren/UpdateRemindModalChildren.js
Due: build front

[FIX]修改配置
  .gitlab-ci.yml
  pom.xml
  src/main/resources/application.yml
Due: none

[IMP] 升级hzero版本为1.8.1.RELEASE
  pom.xml
  src/main/java/io/choerodon/test/manager/app/service/impl/TestPlanServiceImpl.java
  src/main/java/io/choerodon/test/manager/infra/feign/FileFeignClient.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yml
Due: build backend, release backend

[IMP] SnowflakeHelper修改为懒加载
  src/main/java/io/choerodon/test/manager/app/service/impl/TestCaseServiceImpl.java
Due: build backend, release backend

[FIX] 升级xstream版本到1.4.18，修复xstream漏洞
  pom.xml
  src/main/resources/application.yml
Due: build backend, release backend

[IMP] 修改service-mapping.xml
  src/main/resources/script/db/service-mapping.xml
Due: build backend, release backend

[FIX]修复执行详情添加缺陷弹窗位置不够时造成的滚动
  react/routes/TestPlan/components/TestPlanExecuteDetail/components/StepTable/DefectSelect/DefectSelect.js
Due: build front

[IMP]更改包版本
  package.json
Due: build front

[IMP]更改用例库、计划删除样式和文案
  react/locale/zh_CN/caseLibrary.ts
  react/locale/zh_CN/plan.ts
  react/routes/IssueManage/components/batch-delete-confirm/index.tsx
  react/routes/TestPlan/components/BatchAction/BatchDeleteConfirm/index.tsx
  react/routes/TestPlan/components/BatchAction/index.tsx
Due: build front

[IMP]测试计划导出报告icon更改
  react/routes/TestPlan/plan-report/report-page/index.tsx
Due: build front

[FIX] 修复@RequestParam没有设置required = false导致传null值报错的问题
  src/main/java/io/choerodon/test/manager/api/controller/v1/TestCycleCaseController.java
Due: build backend, release backend

[IMP] 修改parent版本
  pom.xml
Due: build backend, release backend

[FIX]修改配置
  .gitlab-ci.yml
  pom.xml
Due: none

[FIX] 修复测试优先级名称校验中名称为空时校验导致报错问题
  react/routes/priority/priorityCreate/PriorityCreate.js
  react/routes/priority/priorityEdit/PriorityEdit.js
Due: build front

[IMP] 修复执行创建缺陷title显示问题
  react/components/create-bug/index.tsx
Due: build front

[FIX] 修改用例库样式问题
  react/routes/IssueManage/IssueManage/IssueManage.less
  react/routes/IssueManage/components/IssueTable/IssueTable.less
Due: build front

Update package.json
  package.json
Due: build front

[FIX] 修复创建测试优先级名称校验问题
  react/routes/priority/priorityCreate/PriorityCreate.js
Due: build front

[IMP] 修改redis数据库为13
  src/main/resources/application.yml
Due: build backend, release backend
